/*#cont{
  display: flex;
  justify-content: center;
}
.link{
  flex: 1;
}*/

.cont{
  margin: 0 auto;
}
.link{
  &:hover{
    background: #777777;
    cursor: pointer;
  }
  margin: 0 auto;
  padding: 10px;
  background: #2F80ED;
}
